<div class="main-panel">

    <div fxFlex fxLayout="row" class="main-panel-caregories">
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="showAboutWindow()">О программе</button>
            <button mat-menu-item (click)="settingsHandler()">Настройки</button>
            <button mat-menu-item (click)="logoutHandler()">Выйти</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="catalog">
            Каталог
        </button>
        <mat-menu #catalog="matMenu" [overlapTrigger]="false">
            <button mat-menu-item class="anime-font">
                <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet">
                Anime
            </button>
            <button mat-menu-item class="detective-font">
                <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
                Detective story
            </button>
            <button mat-menu-item class="play-font">
                <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
                Спектакли
            </button>
            <button mat-menu-item class="story-font">
                <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
                Сказки
            </button>
            <button mat-menu-item class="roman-font">
                <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
                Романы
            </button>
            <button mat-menu-item class="memoir-font">
                <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
                Мемуары
            </button>
            <button mat-menu-item class="horror-font">
                <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
                Хоррор
            </button>
            <button mat-menu-item class="ciberpunk-font">
                <link href="https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap" rel="stylesheet">
                Киберпанк
            </button>
            <button mat-menu-item class="fantasy-font">
                <link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet">
                Фантастика
            </button>
            <button mat-menu-item class="buisness-font">
                <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
                Бизнес
            </button>
        </mat-menu>

        <button class="btn" mat-button [matMenuTriggerFor]="sale">
            Скидки и акции
        </button>
        <mat-menu #sale="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >Скидки</button>
            <button mat-menu-item >Акции</button>
            <button mat-menu-item >Выгодные предложения</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="presents">
            Подарки
        </button>
        <mat-menu #presents="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >Подарки взрослым</button>
            <button mat-menu-item >Подарки детям</button>
            <button mat-menu-item >Подарки на праздник</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="education">
            Учебная литература
        </button>
        <mat-menu #education="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >К первому сентября</button>
            <button mat-menu-item >Учебники по классам</button>
            <button mat-menu-item >Учебники по предметам</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="news">
            Новинки
        </button>
        <mat-menu #news="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >Новые поступления</button>
            <button mat-menu-item >Новинки мира</button>
            <button mat-menu-item >Новые жанры/ Писатели</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="preorder">
            Предзаказы
        </button>
        <mat-menu #preorder="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >Ваши предзаказы</button>
            <button mat-menu-item >Список доступных предзаказов</button>
            <button mat-menu-item >Горячие предзаказы</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="bestseller">
            Бестселлеры
        </button>
        <mat-menu #bestseller="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >Лучшие в жанре</button>
            <button mat-menu-item >Лучшие по автору</button>
            <button mat-menu-item >Лучшее для Вас</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="authorsAndBooks">
            Люди и книги
        </button>
        <mat-menu #authorsAndBooks="matMenu" [overlapTrigger]="false">
            <button mat-menu-item >Авторы</button>
            <button mat-menu-item >Лучшие книги</button>
            <button mat-menu-item >Новые жанры</button>
        </mat-menu>
    </div>
</div>