<div fxFlexFill fxLayout="column" style="text-align-last: center;">
  <div fxFlex class="main-component"  style="height: 300px; overflow: auto;">
    <div сlass="component" style="height: 320px;">
      <div class="imageSlider">
        <button class="prevSlide"></button>
        <button class="nextSlide"></button>
        <div class="imageimageSlider_container">

          <div class="imageSlider_slide slideActive">
            <img
              src="https://images.unsplash.com/photo-1568143100438-58f5b47e0a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
              alt="">
          </div>

          <div class="imageSlider_slide">
            <a href="#"><img
                src="https://images.unsplash.com/photo-1568164528001-fdf61ebe1a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
                alt=""></a>
          </div>

          <div class="imageSlider_slide">
            <a href="#"><img
                src="https://images.unsplash.com/photo-1568186704829-7daaf3327194?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>