<div fxFlex fxLayout="column" class="main-component">
  <div fxFlex fxLayout="row"
    style="background: white; margin: 5px 5px 15px 5px; border-radius: 10px;  box-shadow: 0 10px 5px rgba(0, 0, 0, .6);">

    <div fxFlex class="imageSlider" style=" margin: 15px 10px 10px 10px; ">
      <button class="prevSlide"></button>
      <button class="nextSlide"></button>
      <div class="imageimageSlider_container">

        <div class="imageSlider_slide slideActive">
          <img
            src="https://images.unsplash.com/photo-1568143100438-58f5b47e0a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
            alt="" style=" border-radius: 10px;">
        </div>

        <div class="imageSlider_slide">
          <a href="#"><img
              src="https://images.unsplash.com/photo-1568164528001-fdf61ebe1a7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
              alt="" style=" border-radius: 10px;"></a>
        </div>

        <div class="imageSlider_slide">
          <a href="#"><img
              src="https://images.unsplash.com/photo-1568186704829-7daaf3327194?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
              alt="" style=" border-radius: 10px;"></a>
        </div>
      </div>
    </div>

    <div fxLayout="column" style="background: white; border-radius: 10px;">
      <div style=" margin: 5px;"> <img
          src="https://images.unsplash.com/photo-1568143100438-58f5b47e0a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
          alt="" style="height:200px; width:400px; margin: 10px;  border-radius: 10px;"></div>
      <div style=" margin: 5px;">
        <img
          src="https://images.unsplash.com/photo-1568143100438-58f5b47e0a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"
          alt="" style="height:200px; width:400px; margin: 10px; border-radius: 10px; "></div>
    </div>

  </div>

  <div
    style="height: 300px; background: white; margin: 20px; border-radius: 10px;  box-shadow: 0 10px 5px rgba(0, 0, 0, .6);">
    Популярные категории

  </div>
  <div>
    <div fxLayout="column"
      style="background: white; margin: 5px; border-radius: 10px; box-shadow: 0 10px 5px rgba(0, 0, 0, .6);">
      <div fxLayout="row">
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title>
          <mat-card-content>
            <img
              src='https://ndc.book24.ru/resize_cache/9658024/82aff9b7004fb1831f626fc857f53daf/iblock/332/332600fc6d027a75a5f2e99a18d5069d.jpg'
              alt='image' style="height: 200px; width:150px;">
          </mat-card-content>
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title>
          <img
            src='https://ndc.book24.ru/resize_cache/9658024/82aff9b7004fb1831f626fc857f53daf/iblock/332/332600fc6d027a75a5f2e99a18d5069d.jpg'
            alt='image' style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title>
          <img src='https://cdn.book24.ru/v2/ITD000000000994236/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
      </div>
      <div fxLayout="row">
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-content>
            <mat-card-title>
              Simple card
            </mat-card-title>
            <img src='https://cdn.book24.ru/v2/ITD000000000995229/COVER/cover3d1__w130.webp' alt='image'
              style="height: 200px; width:150px;">
          </mat-card-content>
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000130417/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/ITD000000000985056/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
      </div>
      <div fxLayout="row">
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-content>
            <mat-card-title>
              Simple card
            </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
              alt='image' style="height: 200px; width:150px;">
          </mat-card-content>
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
        <mat-card style="height: 300px; width:200px; margin:30px">
          <mat-card-title>
            Simple card
          </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp' alt='image'
            style="height: 200px; width:150px;">
        </mat-card>
      </div>
    </div>
  </div>
  <div>
    <div id="container">
      <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="900" [$prev]="prev" [$next]="next"
        [$item]="item">
      </div>
      <ng-template style="width: 20px" #prev>
        <img
          src='https://c7.uihere.com/files/204/55/746/creative-commons-license-non-commercial-wikimedia-commons-public-domain-angle-thumb.jpg'
          style="transform: scaleX(-1);" id="left">
      </ng-template>
      <ng-template style="width: 20px" #next>
        <img
          src='https://c7.uihere.com/files/204/55/746/creative-commons-license-non-commercial-wikimedia-commons-public-domain-angle-thumb.jpg'
          style="height:20%; width: 20%;" id="right">
      </ng-template>
      <ng-template #item let-item let-i="index">
        <div class="items">
          <mat-card style="height: 300px; width:200px; margin:30px">
            <mat-card-title>
                {{item.book}}
            </mat-card-title><img src='{{item.name}}' alt='image' style="height: 200px; width:150px;">
          </mat-card>
        </div>
      </ng-template>
    </div>
  </div>
</div>