<nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow' style="height: 100px">

  <div fxFlex fxLayout="row" class="container" >
    <a class="navbar-brand" [routerLink]='["/"]'>Очень классный магазин книг</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
      aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

    <div fxFlex class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow">
          <mat-form-field style="height: 45px !important; margin-top: -14px">
            <mat-icon matSuffix matPrefix style="margin-right: 10px; color:gray; font-size: 18px; line-height: 18px">
              search</mat-icon>
            <input matInput #search placeholder="" autocomplete="off"
              (change)="filterService.setFilterByText(search.value)">
          </mat-form-field>
          
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-dark" [routerLink]='["/"]'>Вход</a>
        </li>

        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark" [routerLink]='["/counter"]'>Регистрация</a>
        </li>

        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <mat-icon>pan_tool</mat-icon>
        </li>

      </ul>
    </div>
</nav>