<div 
    style="    border: outset;background-color: #E8DB64!important; border-radius: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, .6);">

    <div fxFlex fxLayout="row" style="">
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="showAboutWindow()">О программе</button>
            <button mat-menu-item (click)="settingsHandler()">Настройки</button>
            <button mat-menu-item (click)="logoutHandler()">Выйти</button>
        </mat-menu>
        <button class="btn" mat-button [matMenuTriggerFor]="catalog">
            Каталог
        </button>
        <mat-menu #catalog="matMenu" [overlapTrigger]="false">
            <button mat-menu-item style="font-family: 'Kurale', serif;">
                <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet">
                Anime
            </button>
            <button mat-menu-item style="font-family: 'Anton', sans-serif;">
                <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet"> Detective
                story
            </button>
            <button mat-menu-item style="font-family: 'Lobster', cursive;">
                <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
                Спектакли
            </button>
            <button mat-menu-item style="font-family: 'Pacifico', cursive;">
                <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">Сказки
            </button>
            <button mat-menu-item style="font-family: 'Play', sans-serif;">
                <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">Романы
            </button>
            <button mat-menu-item style="font-family: 'Caveat', cursive;">
                <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
                Мемуары
            </button>
            <button mat-menu-item style="font-family: 'Neucha', cursive;">
                <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
                Хоррор
            </button>
            <button mat-menu-item style="font-family: 'Kelly Slab', cursive;">
                <link href="https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap" rel="stylesheet">
                Киберпанк
            </button>
            <button mat-menu-item style="font-family: 'Tenor Sans', sans-serif;">
                <link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet">
                Фантастика
            </button>
            <button mat-menu-item style="font-family: 'Cormorant SC', serif;">
                <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
                Бизнес
            </button>
        </mat-menu>

        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Скидки и акции
        </button>
        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Подарки
        </button>
        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Учебная литература
        </button>
        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Новинки
        </button>
        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Предзаказы
        </button>
        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Бестселлеры
        </button>
        <button class="btn" mat-button [matMenuTriggerFor]="menu" style="min-width: min-content">
            Люди и книги
        </button>
        <a class="navbar-brand" [routerLink]='["/"]'></a>
    </div>
</div>