<div fxFlex fxLayout="row" class="main-component">
    <div class="category-filter">
        <div>
            <div class="category-main-filter-title">
                <b><span>Фильтр по жанру</span></b>
            </div>
            <div class="category-main-filter-content">
                <mat-checkbox>Детектив</mat-checkbox>
                <mat-checkbox>Сказка</mat-checkbox>
                <mat-checkbox>Роман</mat-checkbox>
                <mat-checkbox>Аниме</mat-checkbox>
                <mat-checkbox>Киберпанк</mat-checkbox>
            </div>

            <div>
                <div class="category-author-filter-title">
                    <b><span>Автор</span></b>
                </div>
                <div class="category-author-filter-content">
                    <input matInput placeholder="Поиск по автору" class="category-author-input">
                </div>
                <div class="category-author-filter-content">
                    <mat-checkbox>Эркюль Пуаро</mat-checkbox>
                    <mat-checkbox>Дарья Донцова</mat-checkbox>
                    <mat-checkbox>Юрий Никитин</mat-checkbox>
                    <mat-checkbox>Братья Стругацкие</mat-checkbox>
                    <mat-checkbox>Александр Блок</mat-checkbox>
                    <mat-checkbox>Александр Удар</mat-checkbox>
                </div>
            </div>
            <div>
                <div class="category-page-filter-title">
                    <span><b>Фильтр по количеству страниц</b></span>
                </div>
                <mat-select class="category-page-filter-content" placeholder="Количество страниц">
                    <mat-option value="option">до 50</mat-option>
                    <mat-option value="option">50 - 200</mat-option>
                    <mat-option value="option">200 - 500</mat-option>
                    <mat-option value="option">500 - 1000</mat-option>
                    <mat-option value="option">1000 и больше</mat-option>
                </mat-select>
            </div>
        </div>

    </div>
    <div fxFlex="80%">
        <div fxLayout="column" class="main-content">
            <div fxLayout="row">
                <mat-card class="min-card">
                    <mat-card-title>
                        Виктор Пелевин
                    </mat-card-title>
                    <mat-card-content>
                        <img src='https://ndc.book24.ru/resize_cache/9658024/82aff9b7004fb1831f626fc857f53daf/iblock/332/332600fc6d027a75a5f2e99a18d5069d.jpg'
                            alt='image' style="height: 200px; width:150px;">
                    </mat-card-content>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Виктор Пелевин
                    </mat-card-title>
                    <img src='https://ndc.book24.ru/resize_cache/9658024/82aff9b7004fb1831f626fc857f53daf/iblock/332/332600fc6d027a75a5f2e99a18d5069d.jpg'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Другая правда
                    </mat-card-title>
                    <img src='https://cdn.book24.ru/v2/ITD000000000994236/COVER/cover3d1__w130.webp' alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Жажда власти 2
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Щегол
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
            </div>
            <div fxLayout="row">
                <mat-card class="min-card">
                    <mat-card-content>
                        <mat-card-title>
                            Джо Хилл
                        </mat-card-title>
                        <img src='https://cdn.book24.ru/v2/ITD000000000995229/COVER/cover3d1__w130.webp' alt='image'>
                    </mat-card-content>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        1984
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000130417/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ITD000000000985056/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Жажда власти 2
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Щегол
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
            </div>
            <div fxLayout="row">
                <mat-card class="min-card">
                    <mat-card-content>
                        <mat-card-title>
                        Жажда власти 2
                        </mat-card-title><img
                            src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp' alt='image'>
                    </mat-card-content>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Жажда власти 2
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Щегол
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Жажда власти 2
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
                <mat-card class="min-card">
                    <mat-card-title>
                        Щегол
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image'>
                </mat-card>
            </div>
        </div>
    </div>
</div>