<div fxFlex fxLayout="row" class="main-component">
    <div class="category-filter">
        <div>
            <div class="category-main-filter-title">
                <b><span>Фильтр</span></b>
            </div>
            <div class="category-main-filter-content">
                <mat-checkbox>Категория 1</mat-checkbox>
                <mat-checkbox>Категория 1</mat-checkbox>
                <mat-checkbox>Категория 1</mat-checkbox>
                <mat-checkbox>Категория 1</mat-checkbox>
                <mat-checkbox>Категория 1</mat-checkbox>
            </div>

            <div>
                <div class="category-author-filter-title">
                    <b><span>Автор</span></b>
                </div>
                <div class="category-author-filter-content">
                    <input matInput placeholder="Favorite food" value="Sushi"
                        style="margin: 10px; background: floralwhite; border: groove; border-radius: 5px; text-align: center; width: 140px">
                </div>
                <div style="margin-left: 10px; margin-top: 10px;">
                    <mat-checkbox>Категория 1</mat-checkbox>
                    <mat-checkbox>Категория 1</mat-checkbox>
                    <mat-checkbox>Категория 1</mat-checkbox>
                    <mat-checkbox>Категория 1</mat-checkbox>
                    <mat-checkbox>Категория 1</mat-checkbox>
                </div>
            </div>
            <div>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <b><span>Фильтр</span></b>
                </div>
                <mat-select placeholder="Select" style="margin-left: 10px; margin-top: 10px; background: floralwhite; border: groove; border-radius: 5px; text-align: center; width: 180px">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </div>
        </div>

    </div>
    <div fxFlex="80%">
        <div fxLayout="column" style="background: white; margin: 5px; border-radius: 5px; box-shadow: 0 3px 5px rgba(0, 0, 0, .6);">
            <div fxLayout="row">
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title>
                    <mat-card-content>
                        <img src='https://ndc.book24.ru/resize_cache/9658024/82aff9b7004fb1831f626fc857f53daf/iblock/332/332600fc6d027a75a5f2e99a18d5069d.jpg'
                            alt='image' style="height: 200px; width:150px;">
                    </mat-card-content>
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title>
                    <img src='https://ndc.book24.ru/resize_cache/9658024/82aff9b7004fb1831f626fc857f53daf/iblock/332/332600fc6d027a75a5f2e99a18d5069d.jpg'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title>
                    <img src='https://cdn.book24.ru/v2/ITD000000000994236/COVER/cover3d1__w130.webp' alt='image'
                        style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
            </div>
            <div fxLayout="row">
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-content>
                        <mat-card-title>
                            Simple card
                        </mat-card-title>
                        <img src='https://cdn.book24.ru/v2/ITD000000000995229/COVER/cover3d1__w130.webp' alt='image'
                            style="height: 200px; width:150px;">
                    </mat-card-content>
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000130417/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ITD000000000985056/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
            </div>
            <div fxLayout="row">
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-content>
                        <mat-card-title>
                            Simple card
                        </mat-card-title><img
                            src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp' alt='image'
                            style="height: 200px; width:150px;">
                    </mat-card-content>
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/ASE000000000844497/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
                <mat-card style="height: 300px; width:200px; margin:30px">
                    <mat-card-title>
                        Simple card
                    </mat-card-title><img src='https://cdn.book24.ru/v2/AST000000000155650/COVER/cover3d1__w130.webp'
                        alt='image' style="height: 200px; width:150px;">
                </mat-card>
            </div>
        </div>
    </div>
</div>