<nav class="main-component" style="background: white; border-bottom-style: inset; padding: 0px;;">

                <button class="btn" mat-button [matMenuTriggerFor]="menu" style="width: 100px; margin: auto 5px auto 5px">
                        Оплата
                    </button>
                    <button class="btn" mat-button [matMenuTriggerFor]="menu" style="width: 100px; margin: auto 5px auto 5px" [routerLink]='["/category"]'>Доставка
                    </button>
                    <button class="btn" mat-button [matMenuTriggerFor]="menu" style="width: 100px; margin: auto 5px auto 5px">
                        Каталог
                    </button>
                    <button class="btn" mat-button [matMenuTriggerFor]="menu" style="width: 100px; margin: auto 5px auto 5px">
                        Настройки
                    </button>
      
          <div fxFlex class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="showAboutWindow()">О программе</button>
                        <button mat-menu-item (click)="settingsHandler()">Настройки</button>
                        <button mat-menu-item (click)="logoutHandler()">Выйти</button>
                    </mat-menu>
                </div>
                <div fxFlexAlign="end">
                    <button mat-icon-button [matMenuTriggerFor]="settings" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #settings="matMenu">
                        <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                        </button>
                        <button mat-menu-item disabled>
                            <mat-icon>voicemail</mat-icon>
                            <span>Check voice mail</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>notifications_off</mat-icon>
                            <span>Disable alerts</span>
                        </button>
                    </mat-menu>
          </div>
      </nav>
